body{
    background-image:url("dogs_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SUSE",sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}



.page{
    background:rgba(255,255,255,0.25);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;

}

label{
    display:block;
    width: 100%;
    margin-top:10px;
    margin-bottom:5px;
    text-align:left;
    color:#555;
    font-weight: bold;
}

input{
    display:block;
    width:100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: "SUSE",sans-serif;
}


button{
    padding:15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border:none;
    color:white;
    background-color: #2e223c;
    width: 100%;
    font-size:16px;
    font-family: "SUSE",sans-serif;
}

buttons-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    font-family:"Matemasie",sans-serif;
    color:#2e223c;
}

button:hover{
    background-color: #47345c;
}

